@import  "~@/lib/reset.scss";
.content{
    @include flex();
    @include rect(100%, auto);
    overflow: auto;
    .main{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width:100% ;
        height: 1.92rem;
        background: #fff;
        text-align: center;
    }
    .main div{
        width: 1rem;
        height: 0.75rem;
    }
    .main div img{
        width: 0.5rem;
        height: 0.5rem;
        margin-top: .1rem;
    }
    .main div p {
        font-size: .12rem;
        margin-top: .1rem;
    }
     h3{
            width: 1.1rem;
            height: .13rem;
            line-height: .14rem;
            margin-top: .1rem;
            margin-left: .1rem;  
            text-indent: .1rem;          
            border-left: .03rem solid #000;
            border-radius: 3px;
            display: inline-block;
        }
        .more{
            float: right;
            margin-top:.08rem ;
            font-size: .12rem;
        }
        
        .jifen{
            width: 100%;
            height: 1.5rem;
            background: #fff;
        }
        .jifen .one{
            width: 1.12rem;
            height: 1rem;
            float: left;
            margin: 0.25rem 0 0 0.4rem;
        }
        .jifen .one p{
            color: red;
            font-size: .12rem;
            text-indent: .2rem;
            margin-top: .2rem;
        }
        .jifen .one div{
            width: 1.12rem;
            height: 0.64rem;
            background: url('https://m.tourongjia.com/images/new-found-index/bao.png') no-repeat center/cover;
            span{
                color: #fff;
                font-size: .16rem;
                display: block;
                padding-top: .18rem;
                margin-left: .1rem;
            }
            i{
                color: #666;
                font-size: .12rem;
                margin-left: .1rem;
            }
        }
        
        .jifen .two{
            width: 1.12rem;
            height: 1rem;
            float: left;
            margin: 0.25rem 0 0 0.5rem;
        }
        .jifen .two p{
            color: red;
            font-size: .12rem;
            text-indent: .2rem;
            margin-top: .2rem;
        }
        .jifen .two div{
            width: 1.12rem;
            height: 0.64rem;
            background: url('https://m.tourongjia.com/images/new-found-index/bao.png') no-repeat center/cover;
            span{
                color: #fff;
                font-size: .16rem;
                display: block;
                padding-top: .18rem;
                margin-left: .1rem;
            }
            i{
                color: #666;
                font-size: .12rem;
                margin-left: .1rem;
            }
        }
        .banner{
            width: 100%;
            height: 1.42rem;
            img{
                width: 100%;
                height: 1.42rem;
            }
        }
        .chufa{
            width: 100%;
            height: .4rem;
            background: #fff;
            line-height: .4rem;
            text-indent: .3rem;
            font-size: .13rem;
            color: #666;
            font-family: "微软雅黑";
        }
        
        .banben{
            width: 100%;
            height: .8rem;
            text-indent: 40%;
            line-height: .3rem;
            font-family: "微软雅黑";
            color: #999;
        }
}

