@import  "~@/lib/reset.scss";
#banner{
    .mint-swipe {
            @include rect(100%, 1.875rem);
            overflow: hidden;
            .mint-swipe-item {
            img {
                @include rect(100%, 1.875rem);
                }
            }
            }
}

.biaoqian{
    width: 100%;
    height: 0.9rem;
    background: white;
    p{
        font-size:0.24rem;
        line-height: 0.45rem;
        margin-left: 10px;
        span{
            font-size: 0.16rem;
            display: block;
            float: left;
            margin-left: 10px;
        }
        span:nth-of-type(2){
            font-size: 0.22rem;
            color:orange;
        }
        span:last-of-type{
            float: right;
            margin-right: 10px;
        }
    }
    p:first-of-type{
        margin-left: 20px;
    }
}

.jieshao{
    margin-top: 10px;
    background: white;
    width: 100%;
    height: 1.5rem;
    .shang{
        height: 0.4rem;
        padding-top: 0.1rem;
        p{
            font-size: 0.16rem;
            line-height: 0.2rem;
            border-left: 2px solid orange;
            text-indent: 5px;
            margin-left: 20px;
        }
    }
    .xia{
        margin-top: 0.1rem;
        height: 1.3rem;
        padding-left: 20px;
        box-sizing: border-box;
        padding-top: 5px;
        p{
            font-size: 0.14rem;
            line-height: 0.25rem;
        }
    }
}
.shuoming{
    margin-top: 10px;
    background: white;
        height: 0.7rem;
        width: 100%;
        span{
            font-size: 0.18rem;
            line-height: 0.7rem;
            display: block;
            float: left;
            margin-left: 20px;
        }
        span:last-of-type{
            float: right;
            margin-right: 20px;
        }
    }